<h1>
    Sobre:
</h1>
<p>O site foi desenvolvido pelo aluno Caio Medeiros Moura da Silva utilizando a tecnologia ASP.NET Core com o padrão de arquitetura 
    Model-View-Controller (MVC). A aplicação web foi estruturada para oferecer uma separação clara entre a lógica de negócios, 
    a interface do usuário e o controle de entrada, promovendo organização e escalabilidade. 
    O uso do ASP.NET Core permitiu um desempenho otimizado e compatibilidade com múltiplas plataformas. 
    O projeto reflete o domínio técnico do aluno e sua capacidade de aplicar boas práticas de desenvolvimento web. 
    site também demonstra atenção à usabilidade e à manutenção do código. </p>
